* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #F0ECE5 !important;
    color: #333;
}

header {
    background-color: #31304D;
    padding: 10px;
    color: #B6BBC4;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #B6BBC4;
    text-decoration: none;
    size: 14px;

}

.navbar {
    flex-wrap: wrap; /* Позволява навигацията да се свие при тесни екрани */
}

.nav {
    display: flex;
    flex-wrap: wrap; /* Подредба на елементите в нов ред при нужда */
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 10px; /* Разстояние между бутоните */
}



main {
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.dropdown-menu {
    background-color: #F0ECE5 !important;
    color: #ffffff !important;
}


.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    background-color: #31304D !important;
    color: #F0ECE5 !important;
}

.btn-custom-text {
    color: #F0ECE5 !important;
}

.custom-footer {
    background-color: #31304D !important;
    color: #F0ECE5 !important;
}

.text-custom {
    color: #F0ECE5 !important;
}

.custom-box {
    background-color: #f8f9fa; 
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}


.custom-header {
    position: relative;
    padding-top: 30px;
}

.top-left-logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    max-height: 300px;}

.logo-img {
    max-width: 150px; 
    height: auto;
    display: block;
}